version: "3"

services:
  motion:
    image: xxx.dkr.ecr.eu-central-1.amazonaws.com/atomy/motion-sensor-reporter:latest
    restart: always
    devices:
      - "/dev/gpiomem"
    volumes:
      - "./hostname:/app/hostname"
      - "./current_version:/app/current_version"